/* source=#FFDE3F variant=cmf mode=light spec=2026 */
:root {
  --md-sys-color-background: #fff9ee;
  --md-sys-color-on-background: #3a3211;
  --md-sys-color-surface: #fff9ee;
  --md-sys-color-surface-dim: #e7daab;
  --md-sys-color-surface-bright: #fff9ee;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-surface-container-low: #fff3d0;
  --md-sys-color-surface-container: #faeec6;
  --md-sys-color-surface-container-high: #f4e8be;
  --md-sys-color-surface-container-highest: #f0e2b3;
  --md-sys-color-on-surface: #3a3211;
  --md-sys-color-surface-variant: #f0e2b3;
  --md-sys-color-on-surface-variant: #685f39;
  --md-sys-color-inverse-surface: #120e00;
  --md-sys-color-inverse-on-surface: #a49d84;
  --md-sys-color-outline: #857b53;
  --md-sys-color-outline-variant: #beb286;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #6f5e00;
  --md-sys-color-primary: #6f5e00;
  --md-sys-color-primary-dim: #6f5e00;
  --md-sys-color-on-primary: #fff8eb;
  --md-sys-color-primary-container: #ffde3f;
  --md-sys-color-on-primary-container: #5e4f00;
  --md-sys-color-primary-fixed: #ffde3f;
  --md-sys-color-primary-fixed-dim: #f0d030;
  --md-sys-color-on-primary-fixed: #483d00;
  --md-sys-color-on-primary-fixed-variant: #695900;
  --md-sys-color-inverse-primary: #fcdc3d;
  --md-sys-color-secondary: #6c5f25;
  --md-sys-color-secondary-dim: #6c5f25;
  --md-sys-color-on-secondary: #fff8eb;
  --md-sys-color-secondary-container: #f5e29b;
  --md-sys-color-on-secondary-container: #5e5119;
  --md-sys-color-secondary-fixed: #f5e29b;
  --md-sys-color-secondary-fixed-dim: #e6d48e;
  --md-sys-color-on-secondary-fixed: #4a3f06;
  --md-sys-color-on-secondary-fixed-variant: #685b22;
  --md-sys-color-tertiary: #6f5e00;
  --md-sys-color-tertiary-dim: #6f5e00;
  --md-sys-color-on-tertiary: #fff8eb;
  --md-sys-color-tertiary-container: #f9df70;
  --md-sys-color-on-tertiary-container: #5e4f00;
  --md-sys-color-tertiary-fixed: #f9df70;
  --md-sys-color-tertiary-fixed-dim: #ead164;
  --md-sys-color-on-tertiary-fixed: #483d00;
  --md-sys-color-on-tertiary-fixed-variant: #695900;
  --md-sys-color-error: #a53d24;
  --md-sys-color-error-dim: #a53d24;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fa7b5d;
  --md-sys-color-on-error-container: #4a0a00;
}
