/* source=#FFDE3F variant=cmf mode=dark spec=2026 */
:root {
  --md-sys-color-background: #120e02;
  --md-sys-color-on-background: #f3e5b6;
  --md-sys-color-surface: #120e02;
  --md-sys-color-surface-dim: #120e02;
  --md-sys-color-surface-bright: #332c0b;
  --md-sys-color-surface-container-lowest: #000;
  --md-sys-color-surface-container-low: #181302;
  --md-sys-color-surface-container: #1f1903;
  --md-sys-color-surface-container-high: #251f05;
  --md-sys-color-surface-container-highest: #2c2506;
  --md-sys-color-on-surface: #f3e5b6;
  --md-sys-color-surface-variant: #2c2506;
  --md-sys-color-on-surface-variant: #b7ab7f;
  --md-sys-color-inverse-surface: #fff9ee;
  --md-sys-color-inverse-on-surface: #5b5540;
  --md-sys-color-outline: #7f754e;
  --md-sys-color-outline-variant: #504824;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #ffedab;
  --md-sys-color-primary: #ffedab;
  --md-sys-color-primary-dim: #ffedab;
  --md-sys-color-on-primary: #675700;
  --md-sys-color-primary-container: #ffde3f;
  --md-sys-color-on-primary-container: #5e4f00;
  --md-sys-color-primary-fixed: #ffde3f;
  --md-sys-color-primary-fixed-dim: #f0d030;
  --md-sys-color-on-primary-fixed: #483d00;
  --md-sys-color-on-primary-fixed-variant: #695900;
  --md-sys-color-inverse-primary: #6f5e00;
  --md-sys-color-secondary: #ad9e5d;
  --md-sys-color-secondary-dim: #ad9e5d;
  --md-sys-color-on-secondary: #272000;
  --md-sys-color-secondary-container: #433901;
  --md-sys-color-on-secondary-container: #cdbc78;
  --md-sys-color-secondary-fixed: #f5e29b;
  --md-sys-color-secondary-fixed-dim: #e6d48e;
  --md-sys-color-on-secondary-fixed: #4a3f06;
  --md-sys-color-on-secondary-fixed-variant: #685b22;
  --md-sys-color-tertiary: #ffedab;
  --md-sys-color-tertiary-dim: #ffedab;
  --md-sys-color-on-tertiary: #675700;
  --md-sys-color-tertiary-container: #f9df70;
  --md-sys-color-on-tertiary-container: #5e4f00;
  --md-sys-color-tertiary-fixed: #f9df70;
  --md-sys-color-tertiary-fixed-dim: #ead164;
  --md-sys-color-on-tertiary-fixed: #483d00;
  --md-sys-color-on-tertiary-fixed-variant: #695900;
  --md-sys-color-error: #fa7b5d;
  --md-sys-color-error-dim: #fa7b5d;
  --md-sys-color-on-error: #4a0a00;
  --md-sys-color-error-container: #711702;
  --md-sys-color-on-error-container: #ffa590;
}
