/* source=#63A002 variant=cmf mode=light spec=2026 */
:root {
  --md-sys-color-background: #f4fde2;
  --md-sys-color-on-background: #283716;
  --md-sys-color-surface: #f4fde2;
  --md-sys-color-surface-dim: #cee1b2;
  --md-sys-color-surface-bright: #f4fde2;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-surface-container-low: #ecf8d6;
  --md-sys-color-surface-container: #e5f3cd;
  --md-sys-color-surface-container-high: #deeec5;
  --md-sys-color-surface-container-highest: #d6e9ba;
  --md-sys-color-on-surface: #283716;
  --md-sys-color-surface-variant: #d6e9ba;
  --md-sys-color-on-surface-variant: #54643f;
  --md-sys-color-inverse-surface: #071100;
  --md-sys-color-inverse-on-surface: #97a088;
  --md-sys-color-outline: #6f8059;
  --md-sys-color-outline-variant: #a6b88d;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #406a00;
  --md-sys-color-primary: #406a00;
  --md-sys-color-primary-dim: #406a00;
  --md-sys-color-on-primary: #eeffd4;
  --md-sys-color-primary-container: #66a409;
  --md-sys-color-on-primary-container: #0a1700;
  --md-sys-color-primary-fixed: #66a409;
  --md-sys-color-primary-fixed-dim: #5c9500;
  --md-sys-color-on-primary-fixed: #000;
  --md-sys-color-on-primary-fixed-variant: #122400;
  --md-sys-color-inverse-primary: #b7fc64;
  --md-sys-color-secondary: #4d672e;
  --md-sys-color-secondary-dim: #4d672e;
  --md-sys-color-on-secondary: #eeffd4;
  --md-sys-color-secondary-container: #ceeda6;
  --md-sys-color-on-secondary-container: #405922;
  --md-sys-color-secondary-fixed: #ceeda6;
  --md-sys-color-secondary-fixed-dim: #c0de99;
  --md-sys-color-on-secondary-fixed: #2e4611;
  --md-sys-color-on-secondary-fixed-variant: #4a632b;
  --md-sys-color-tertiary: #426a08;
  --md-sys-color-tertiary-dim: #426a08;
  --md-sys-color-on-tertiary: #eeffd4;
  --md-sys-color-tertiary-container: #74a03e;
  --md-sys-color-on-tertiary-container: #0a1700;
  --md-sys-color-tertiary-fixed: #74a03e;
  --md-sys-color-tertiary-fixed-dim: #679332;
  --md-sys-color-on-tertiary-fixed: #000;
  --md-sys-color-on-tertiary-fixed-variant: #122400;
  --md-sys-color-error: #ae3315;
  --md-sys-color-error-dim: #ae3315;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fc6a48;
  --md-sys-color-on-error-container: #3a0600;
}
