/* source=#6750A4 variant=cmf mode=dark spec=2026 */
:root {
  --md-sys-color-background: #0f0d16;
  --md-sys-color-on-background: #ebe1fc;
  --md-sys-color-surface: #0f0d16;
  --md-sys-color-surface-dim: #0f0d16;
  --md-sys-color-surface-bright: #2f293d;
  --md-sys-color-surface-container-lowest: #000;
  --md-sys-color-surface-container-low: #15111e;
  --md-sys-color-surface-container: #1b1726;
  --md-sys-color-surface-container-high: #221d2d;
  --md-sys-color-surface-container-highest: #282336;
  --md-sys-color-on-surface: #ebe1fc;
  --md-sys-color-surface-variant: #282336;
  --md-sys-color-on-surface-variant: #b0a7c0;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #57535f;
  --md-sys-color-outline: #797289;
  --md-sys-color-outline-variant: #4b455a;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #a890e9;
  --md-sys-color-primary: #a890e9;
  --md-sys-color-primary-dim: #a890e9;
  --md-sys-color-on-primary: #270762;
  --md-sys-color-primary-container: #6750a4;
  --md-sys-color-on-primary-container: #fcf6ff;
  --md-sys-color-primary-fixed: #6750a4;
  --md-sys-color-primary-fixed-dim: #5b4497;
  --md-sys-color-on-primary-fixed: #fff;
  --md-sys-color-on-primary-fixed-variant: #e0d2ff;
  --md-sys-color-inverse-primary: #6750a4;
  --md-sys-color-secondary: #a398be;
  --md-sys-color-secondary-dim: #a398be;
  --md-sys-color-on-secondary: #231b3a;
  --md-sys-color-secondary-container: #342b4b;
  --md-sys-color-on-secondary-container: #b6aad2;
  --md-sys-color-secondary-fixed: #ded1fa;
  --md-sys-color-secondary-fixed-dim: #d0c3eb;
  --md-sys-color-on-secondary-fixed: #3c3353;
  --md-sys-color-on-secondary-fixed-variant: #594f71;
  --md-sys-color-tertiary: #a694d3;
  --md-sys-color-tertiary-dim: #a694d3;
  --md-sys-color-on-tertiary: #25154c;
  --md-sys-color-tertiary-container: #65558f;
  --md-sys-color-on-tertiary-container: #fcf6ff;
  --md-sys-color-tertiary-fixed: #65558f;
  --md-sys-color-tertiary-fixed-dim: #594982;
  --md-sys-color-on-tertiary-fixed: #fff;
  --md-sys-color-on-tertiary-fixed-variant: #e0d2ff;
  --md-sys-color-error: #fa868d;
  --md-sys-color-error-dim: #fa868d;
  --md-sys-color-on-error: #580817;
  --md-sys-color-error-container: #4c000f;
  --md-sys-color-on-error-container: #ef7e84;
}
