/* source=#B33B15 variant=cmf mode=light spec=2026 */
:root {
  --md-sys-color-background: #fff8f6;
  --md-sys-color-on-background: #4d281e;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-surface-dim: #ffcfc2;
  --md-sys-color-surface-bright: #fff8f6;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-surface-container-low: #fff1ed;
  --md-sys-color-surface-container: #ffe9e4;
  --md-sys-color-surface-container-high: #ffe2da;
  --md-sys-color-surface-container-highest: #ffdbd1;
  --md-sys-color-on-surface: #4d281e;
  --md-sys-color-surface-variant: #ffdbd1;
  --md-sys-color-on-surface-variant: #815447;
  --md-sys-color-inverse-surface: #200601;
  --md-sys-color-inverse-on-surface: #b6968d;
  --md-sys-color-outline: #a06f61;
  --md-sys-color-outline-variant: #dda595;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #a22f08;
  --md-sys-color-primary: #a22f08;
  --md-sys-color-primary-dim: #a22f08;
  --md-sys-color-on-primary: #ffe8e2;
  --md-sys-color-primary-container: #b33b15;
  --md-sys-color-on-primary-container: #fff;
  --md-sys-color-primary-fixed: #b33b15;
  --md-sys-color-primary-fixed-dim: #a22f08;
  --md-sys-color-on-primary-fixed: #fff;
  --md-sys-color-on-primary-fixed-variant: #ffdad0;
  --md-sys-color-inverse-primary: #fd7046;
  --md-sys-color-secondary: #8d4e3b;
  --md-sys-color-secondary-dim: #8d4e3b;
  --md-sys-color-on-secondary: #fff7f5;
  --md-sys-color-secondary-container: #fcaa93;
  --md-sys-color-on-secondary-container: #612b1b;
  --md-sys-color-secondary-fixed: #fcaa93;
  --md-sys-color-secondary-fixed-dim: #ec9d86;
  --md-sys-color-on-secondary-fixed: #461608;
  --md-sys-color-on-secondary-fixed-variant: #6c3322;
  --md-sys-color-tertiary: #953c22;
  --md-sys-color-tertiary-dim: #953c22;
  --md-sys-color-on-tertiary: #ffe8e2;
  --md-sys-color-tertiary-container: #a5482c;
  --md-sys-color-on-tertiary-container: #fff;
  --md-sys-color-tertiary-fixed: #a5482c;
  --md-sys-color-tertiary-fixed-dim: #953c22;
  --md-sys-color-on-tertiary-fixed: #fff;
  --md-sys-color-on-tertiary-fixed-variant: #ffdad0;
  --md-sys-color-error: #ae312d;
  --md-sys-color-error-dim: #ae312d;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #ff6c62;
  --md-sys-color-on-error-container: #440003;
}
