/* source=#6750A4 variant=cmf mode=light spec=2026 */
:root {
  --md-sys-color-background: #fdf7ff;
  --md-sys-color-on-background: #352f43;
  --md-sys-color-surface: #fdf7ff;
  --md-sys-color-surface-dim: #dfd6f0;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1ff;
  --md-sys-color-surface-container: #f3eaff;
  --md-sys-color-surface-container-high: #ede4fb;
  --md-sys-color-surface-container-highest: #e8def9;
  --md-sys-color-on-surface: #352f43;
  --md-sys-color-surface-variant: #e8def9;
  --md-sys-color-on-surface-variant: #625c72;
  --md-sys-color-inverse-surface: #100b1d;
  --md-sys-color-inverse-on-surface: #a09ba8;
  --md-sys-color-outline: #7e778e;
  --md-sys-color-outline-variant: #b7aec7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5b4497;
  --md-sys-color-primary: #5b4497;
  --md-sys-color-primary-dim: #5b4497;
  --md-sys-color-on-primary: #eadeff;
  --md-sys-color-primary-container: #6750a4;
  --md-sys-color-on-primary-container: #fcf6ff;
  --md-sys-color-primary-fixed: #6750a4;
  --md-sys-color-primary-fixed-dim: #5b4497;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #e0d2ff;
  --md-sys-color-inverse-primary: #bba2fd;
  --md-sys-color-secondary: #645a7d;
  --md-sys-color-secondary-dim: #645a7d;
  --md-sys-color-on-secondary: #fdf7ff;
  --md-sys-color-secondary-container: #ded1fa;
  --md-sys-color-on-secondary-container: #4f4667;
  --md-sys-color-secondary-fixed: #ded1fa;
  --md-sys-color-secondary-fixed-dim: #d0c3eb;
  --md-sys-color-on-secondary-fixed: #3c3353;
  --md-sys-color-on-secondary-fixed-variant: #594f71;
  --md-sys-color-tertiary: #594982;
  --md-sys-color-tertiary-dim: #594982;
  --md-sys-color-on-tertiary: #eadeff;
  --md-sys-color-tertiary-container: #65558f;
  --md-sys-color-on-tertiary-container: #fcf6ff;
  --md-sys-color-tertiary-fixed: #65558f;
  --md-sys-color-tertiary-fixed-dim: #594982;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #e0d2ff;
  --md-sys-color-error: #9f3f47;
  --md-sys-color-error-dim: #9f3f47;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fa868d;
  --md-sys-color-on-error-container: #580817;
}
