/* source=#63A002 variant=cmf mode=dark spec=2026 */
:root {
  --md-sys-color-background: #091003;
  --md-sys-color-on-background: #d9ecbd;
  --md-sys-color-surface: #091003;
  --md-sys-color-surface-dim: #091003;
  --md-sys-color-surface-bright: #223011;
  --md-sys-color-surface-container-lowest: #000;
  --md-sys-color-surface-container-low: #0d1604;
  --md-sys-color-surface-container: #121d06;
  --md-sys-color-surface-container-high: #172309;
  --md-sys-color-surface-container-highest: #1c2a0b;
  --md-sys-color-on-surface: #d9ecbd;
  --md-sys-color-surface-variant: #1c2a0b;
  --md-sys-color-on-surface-variant: #9fb186;
  --md-sys-color-inverse-surface: #f0ffd7;
  --md-sys-color-inverse-on-surface: #505843;
  --md-sys-color-outline: #6a7b54;
  --md-sys-color-outline-variant: #3d4d2a;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #73b11e;
  --md-sys-color-primary: #73b11e;
  --md-sys-color-primary-dim: #73b11e;
  --md-sys-color-on-primary: #152800;
  --md-sys-color-primary-container: #66a409;
  --md-sys-color-on-primary-container: #0a1700;
  --md-sys-color-primary-fixed: #66a409;
  --md-sys-color-primary-fixed-dim: #5c9500;
  --md-sys-color-on-primary-fixed: #000;
  --md-sys-color-on-primary-fixed-variant: #122400;
  --md-sys-color-inverse-primary: #406a00;
  --md-sys-color-secondary: #8aa767;
  --md-sys-color-secondary-dim: #8aa767;
  --md-sys-color-on-secondary: #132500;
  --md-sys-color-secondary-container: #223905;
  --md-sys-color-on-secondary-container: #9fbd7b;
  --md-sys-color-secondary-fixed: #ceeda6;
  --md-sys-color-secondary-fixed-dim: #c0de99;
  --md-sys-color-on-secondary-fixed: #2e4611;
  --md-sys-color-on-secondary-fixed-variant: #4a632b;
  --md-sys-color-tertiary: #80ae4a;
  --md-sys-color-tertiary-dim: #80ae4a;
  --md-sys-color-on-tertiary: #152800;
  --md-sys-color-tertiary-container: #74a03e;
  --md-sys-color-on-tertiary-container: #0a1700;
  --md-sys-color-tertiary-fixed: #74a03e;
  --md-sys-color-tertiary-fixed-dim: #679332;
  --md-sys-color-on-tertiary-fixed: #000;
  --md-sys-color-on-tertiary-fixed-variant: #122400;
  --md-sys-color-error: #ff7351;
  --md-sys-color-error-dim: #ff7351;
  --md-sys-color-on-error: #450900;
  --md-sys-color-error-container: #8f1c00;
  --md-sys-color-on-error-container: #ffc7ba;
}
