/* source=#B33B15 variant=cmf mode=dark spec=2026 */
:root {
  --md-sys-color-background: #1a0905;
  --md-sys-color-on-background: #ffded6;
  --md-sys-color-surface: #1a0905;
  --md-sys-color-surface-dim: #1a0905;
  --md-sys-color-surface-bright: #462218;
  --md-sys-color-surface-container-lowest: #000;
  --md-sys-color-surface-container-low: #230d07;
  --md-sys-color-surface-container: #2c120b;
  --md-sys-color-surface-container-high: #34180f;
  --md-sys-color-surface-container-highest: #3e1c12;
  --md-sys-color-on-surface: #ffded6;
  --md-sys-color-surface-variant: #3e1c12;
  --md-sys-color-on-surface-variant: #d59e8f;
  --md-sys-color-inverse-surface: #fff8f6;
  --md-sys-color-inverse-on-surface: #694f48;
  --md-sys-color-outline: #9a6a5c;
  --md-sys-color-outline-variant: #663d32;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #ff734a;
  --md-sys-color-primary: #ff734a;
  --md-sys-color-primary-dim: #ff734a;
  --md-sys-color-on-primary: #430c00;
  --md-sys-color-primary-container: #b33b15;
  --md-sys-color-on-primary-container: #fff;
  --md-sys-color-primary-fixed: #b33b15;
  --md-sys-color-primary-fixed-dim: #a22f08;
  --md-sys-color-on-primary-fixed: #fff;
  --md-sys-color-on-primary-fixed-variant: #ffdad0;
  --md-sys-color-inverse-primary: #ac3610;
  --md-sys-color-secondary: #d78b75;
  --md-sys-color-secondary-dim: #d78b75;
  --md-sys-color-on-secondary: #3f1104;
  --md-sys-color-secondary-container: #542111;
  --md-sys-color-on-secondary-container: #ec9d86;
  --md-sys-color-secondary-fixed: #fcaa93;
  --md-sys-color-secondary-fixed-dim: #ec9d86;
  --md-sys-color-on-secondary-fixed: #461608;
  --md-sys-color-on-secondary-fixed-variant: #6c3322;
  --md-sys-color-tertiary: #ed7f5f;
  --md-sys-color-tertiary-dim: #ed7f5f;
  --md-sys-color-on-tertiary: #430c00;
  --md-sys-color-tertiary-container: #a5482c;
  --md-sys-color-on-tertiary-container: #fff;
  --md-sys-color-tertiary-fixed: #a5482c;
  --md-sys-color-tertiary-fixed-dim: #953c22;
  --md-sys-color-on-tertiary-fixed: #fff;
  --md-sys-color-on-tertiary-fixed-variant: #ffdad0;
  --md-sys-color-error: #ff7167;
  --md-sys-color-error-dim: #ff7167;
  --md-sys-color-on-error: #4a0003;
  --md-sys-color-error-container: #78050c;
  --md-sys-color-on-error-container: #ffa49b;
}
