/* source=#B33B15 variant=expressive mode=light spec=2025 */
:root {
  --md-sys-color-background: #fff8f6;
  --md-sys-color-on-background: #512710;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-surface-dim: #ffd0bb;
  --md-sys-color-surface-bright: #fff8f6;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-surface-container-low: #fff1eb;
  --md-sys-color-surface-container: #ffeae1;
  --md-sys-color-surface-container-high: #ffe2d6;
  --md-sys-color-surface-container-highest: #ffdbcc;
  --md-sys-color-on-surface: #512710;
  --md-sys-color-surface-variant: #ffdbcc;
  --md-sys-color-on-surface-variant: #875238;
  --md-sys-color-inverse-surface: #1d0801;
  --md-sys-color-inverse-on-surface: #bd9481;
  --md-sys-color-outline: #a76d51;
  --md-sys-color-outline-variant: #e5a383;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #9c442a;
  --md-sys-color-primary: #9c442a;
  --md-sys-color-primary-dim: #8c3920;
  --md-sys-color-on-primary: #fff7f5;
  --md-sys-color-primary-container: #ffad95;
  --md-sys-color-on-primary-container: #6e230c;
  --md-sys-color-primary-fixed: #ffad95;
  --md-sys-color-primary-fixed-dim: #ff987a;
  --md-sys-color-on-primary-fixed: #501000;
  --md-sys-color-on-primary-fixed-variant: #7a2c14;
  --md-sys-color-inverse-primary: #fe9070;
  --md-sys-color-secondary: #416377;
  --md-sys-color-secondary-dim: #35576a;
  --md-sys-color-on-secondary: #f4faff;
  --md-sys-color-secondary-container: #c4e7ff;
  --md-sys-color-on-secondary-container: #335669;
  --md-sys-color-secondary-fixed: #c4e7ff;
  --md-sys-color-secondary-fixed-dim: #b6d9f0;
  --md-sys-color-on-secondary-fixed: #204356;
  --md-sys-color-on-secondary-fixed-variant: #3d6073;
  --md-sys-color-tertiary: #006786;
  --md-sys-color-tertiary-dim: #005a75;
  --md-sys-color-on-tertiary: #f3faff;
  --md-sys-color-tertiary-container: #5bcbf9;
  --md-sys-color-on-tertiary-container: #004054;
  --md-sys-color-tertiary-fixed: #5bcbf9;
  --md-sys-color-tertiary-fixed-dim: #4abdea;
  --md-sys-color-on-tertiary-fixed: #002938;
  --md-sys-color-on-tertiary-fixed-variant: #004960;
  --md-sys-color-error: #ac3434;
  --md-sys-color-error-dim: #70030f;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #f56965;
  --md-sys-color-on-error-container: #65000b;
}
