/* source=#769CDF variant=expressive mode=dark spec=2025 */
:root {
  --md-sys-color-background: #070e1b;
  --md-sys-color-on-background: #dbe5ff;
  --md-sys-color-surface: #070e1b;
  --md-sys-color-surface-dim: #070e1b;
  --md-sys-color-surface-bright: #1b2c48;
  --md-sys-color-surface-container-lowest: #000;
  --md-sys-color-surface-container-low: #0a1323;
  --md-sys-color-surface-container: #0f1a2c;
  --md-sys-color-surface-container-high: #132035;
  --md-sys-color-surface-container-highest: #17263f;
  --md-sys-color-on-surface: #dbe5ff;
  --md-sys-color-surface-variant: #17263f;
  --md-sys-color-on-surface-variant: #9dabca;
  --md-sys-color-inverse-surface: #f9f9ff;
  --md-sys-color-inverse-on-surface: #4e5565;
  --md-sys-color-outline: #677693;
  --md-sys-color-outline-variant: #3a4863;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #bcd2ff;
  --md-sys-color-primary: #bcd2ff;
  --md-sys-color-primary-dim: #a7c4fd;
  --md-sys-color-on-primary: #284778;
  --md-sys-color-primary-container: #a7c4fd;
  --md-sys-color-on-primary-container: #1e3e6e;
  --md-sys-color-primary-fixed: #a7c4fd;
  --md-sys-color-primary-fixed-dim: #99b7ee;
  --md-sys-color-on-primary-fixed: #002958;
  --md-sys-color-on-primary-fixed-variant: #284778;
  --md-sys-color-inverse-primary: #425f91;
  --md-sys-color-secondary: #b3ccbe;
  --md-sys-color-secondary-dim: #a6bfb0;
  --md-sys-color-on-secondary: #2f453a;
  --md-sys-color-secondary-container: #142a20;
  --md-sys-color-on-secondary-container: #91aa9c;
  --md-sys-color-secondary-fixed: #ddf7e8;
  --md-sys-color-secondary-fixed-dim: #cfe9d9;
  --md-sys-color-on-secondary-fixed: #364d42;
  --md-sys-color-on-secondary-fixed-variant: #52695d;
  --md-sys-color-tertiary: #95fdc5;
  --md-sys-color-tertiary-dim: #87efb7;
  --md-sys-color-on-tertiary: #00623e;
  --md-sys-color-tertiary-container: #87efb7;
  --md-sys-color-on-tertiary-container: #005838;
  --md-sys-color-tertiary-fixed: #87efb7;
  --md-sys-color-tertiary-fixed-dim: #78e0aa;
  --md-sys-color-on-tertiary-fixed: #004329;
  --md-sys-color-on-tertiary-fixed-variant: #00633f;
  --md-sys-color-error: #ff716c;
  --md-sys-color-error-dim: #c94947;
  --md-sys-color-on-error: #490006;
  --md-sys-color-error-container: #8a1a1e;
  --md-sys-color-on-error-container: #ff9993;
}
