/* source=#B33B15 variant=expressive mode=dark spec=2025 */
:root {
  --md-sys-color-background: #1a0a03;
  --md-sys-color-on-background: #ffdfd1;
  --md-sys-color-surface: #1a0a03;
  --md-sys-color-surface-dim: #1a0a03;
  --md-sys-color-surface-bright: #462310;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #220e05;
  --md-sys-color-surface-container: #2b1307;
  --md-sys-color-surface-container-high: #34180a;
  --md-sys-color-surface-container-highest: #3d1d0d;
  --md-sys-color-on-surface: #ffdfd1;
  --md-sys-color-surface-variant: #3d1d0d;
  --md-sys-color-on-surface-variant: #d3a088;
  --md-sys-color-inverse-surface: #fff8f6;
  --md-sys-color-inverse-on-surface: #6a4f43;
  --md-sys-color-outline: #986b55;
  --md-sys-color-outline-variant: #653f2c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb5a0;
  --md-sys-color-primary: #ffb5a0;
  --md-sys-color-primary-dim: #faa38a;
  --md-sys-color-on-primary: #6a2e1d;
  --md-sys-color-primary-container: #faa38a;
  --md-sys-color-on-primary-container: #5e2514;
  --md-sys-color-primary-fixed: #ffad95;
  --md-sys-color-primary-fixed-dim: #f39e85;
  --md-sys-color-on-primary-fixed: #4a1707;
  --md-sys-color-on-primary-fixed-variant: #703321;
  --md-sys-color-inverse-primary: #904c38;
  --md-sys-color-secondary: #b5c9d7;
  --md-sys-color-secondary-dim: #a8bcc9;
  --md-sys-color-on-secondary: #30434e;
  --md-sys-color-secondary-container: #152833;
  --md-sys-color-on-secondary-container: #93a7b4;
  --md-sys-color-secondary-fixed: #d4e8f7;
  --md-sys-color-secondary-fixed-dim: #c6dae8;
  --md-sys-color-on-secondary-fixed: #31434f;
  --md-sys-color-on-secondary-fixed-variant: #4d606c;
  --md-sys-color-tertiary: #7fd7ff;
  --md-sys-color-tertiary-dim: #5bcbf9;
  --md-sys-color-on-tertiary: #004a61;
  --md-sys-color-tertiary-container: #5bcbf9;
  --md-sys-color-on-tertiary-container: #004054;
  --md-sys-color-tertiary-fixed: #5bcbf9;
  --md-sys-color-tertiary-fixed-dim: #4abdea;
  --md-sys-color-on-tertiary-fixed: #002938;
  --md-sys-color-on-tertiary-fixed-variant: #004960;
  --md-sys-color-error: #ff716c;
  --md-sys-color-error-dim: #c94947;
  --md-sys-color-on-error: #490006;
  --md-sys-color-error-container: #8a1a1e;
  --md-sys-color-on-error-container: #ff9993;
}
