/* source=#6750A4 variant=expressive mode=dark spec=2025 */
:root {
  --md-sys-color-background: #120b1a;
  --md-sys-color-on-background: #f1dfff;
  --md-sys-color-surface: #120b1a;
  --md-sys-color-surface-dim: #120b1a;
  --md-sys-color-surface-bright: #342545;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #181021;
  --md-sys-color-surface-container: #1f152a;
  --md-sys-color-surface-container-high: #261a33;
  --md-sys-color-surface-container-highest: #2d203c;
  --md-sys-color-on-surface: #f1dfff;
  --md-sys-color-surface-variant: #2d203c;
  --md-sys-color-on-surface-variant: #b7a4c7;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #5b5163;
  --md-sys-color-outline: #7f6f90;
  --md-sys-color-outline-variant: #504260;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d4c3ff;
  --md-sys-color-primary: #d4c3ff;
  --md-sys-color-primary-dim: #c7b4f5;
  --md-sys-color-on-primary: #4a3a72;
  --md-sys-color-primary-container: #c7b4f5;
  --md-sys-color-on-primary-container: #403168;
  --md-sys-color-primary-fixed: #c9b7f8;
  --md-sys-color-primary-fixed-dim: #bcaaea;
  --md-sys-color-on-primary-fixed: #2d1d54;
  --md-sys-color-on-primary-fixed-variant: #4b3c74;
  --md-sys-color-inverse-primary: #65568f;
  --md-sys-color-secondary: #bbcbb2;
  --md-sys-color-secondary-dim: #adbea5;
  --md-sys-color-on-secondary: #364431;
  --md-sys-color-secondary-container: #1c2918;
  --md-sys-color-on-secondary-container: #98a990;
  --md-sys-color-secondary-fixed: #e5f6db;
  --md-sys-color-secondary-fixed-dim: #d7e8cd;
  --md-sys-color-on-secondary-fixed: #3d4c38;
  --md-sys-color-on-secondary-fixed-variant: #596953;
  --md-sys-color-tertiary: #edffdf;
  --md-sys-color-tertiary-dim: #bffca0;
  --md-sys-color-on-tertiary: #376b21;
  --md-sys-color-tertiary-container: #bffca0;
  --md-sys-color-on-tertiary-container: #2f6219;
  --md-sys-color-tertiary-fixed: #c2ffa2;
  --md-sys-color-tertiary-fixed-dim: #b4f095;
  --md-sys-color-on-tertiary-fixed: #1e5107;
  --md-sys-color-on-tertiary-fixed-variant: #3b6f24;
  --md-sys-color-error: #fd6f85;
  --md-sys-color-error-dim: #c8475d;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #8a1632;
  --md-sys-color-on-error-container: #ff97a3;
}
