/* source=#FFDE3F variant=expressive mode=light spec=2025 */
:root {
  --md-sys-color-background: #fff9ee;
  --md-sys-color-on-background: #3c3200;
  --md-sys-color-surface: #fff9ee;
  --md-sys-color-surface-dim: #edda8c;
  --md-sys-color-surface-bright: #fff9ee;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff3ce;
  --md-sys-color-surface-container: #feeeb3;
  --md-sys-color-surface-container-high: #f9e8a7;
  --md-sys-color-surface-container-highest: #f5e29b;
  --md-sys-color-on-surface: #3c3200;
  --md-sys-color-surface-variant: #f5e29b;
  --md-sys-color-on-surface-variant: #6c5f25;
  --md-sys-color-inverse-surface: #120e00;
  --md-sys-color-inverse-on-surface: #a79d76;
  --md-sys-color-outline: #897a3e;
  --md-sys-color-outline-variant: #c2b26f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6f5e00;
  --md-sys-color-primary: #6f5e00;
  --md-sys-color-primary-dim: #615200;
  --md-sys-color-on-primary: #fff8eb;
  --md-sys-color-primary-container: #fee264;
  --md-sys-color-on-primary-container: #605100;
  --md-sys-color-primary-fixed: #fee264;
  --md-sys-color-primary-fixed-dim: #efd458;
  --md-sys-color-on-primary-fixed: #4b3f00;
  --md-sys-color-on-primary-fixed-variant: #6b5b00;
  --md-sys-color-inverse-primary: #fee264;
  --md-sys-color-secondary: #635a7d;
  --md-sys-color-secondary-dim: #574e70;
  --md-sys-color-on-secondary: #fdf7ff;
  --md-sys-color-secondary-container: #e8ddff;
  --md-sys-color-on-secondary-container: #564d6f;
  --md-sys-color-secondary-fixed: #e8ddff;
  --md-sys-color-secondary-fixed-dim: #dbcef7;
  --md-sys-color-on-secondary-fixed: #433a5b;
  --md-sys-color-on-secondary-fixed-variant: #5f5679;
  --md-sys-color-tertiary: #6053a7;
  --md-sys-color-tertiary-dim: #54469a;
  --md-sys-color-on-tertiary: #fcf7ff;
  --md-sys-color-tertiary-container: #bbafff;
  --md-sys-color-on-tertiary-container: #37287c;
  --md-sys-color-tertiary-fixed: #bbafff;
  --md-sys-color-tertiary-fixed-dim: #ad9ffa;
  --md-sys-color-on-tertiary-fixed: #200a65;
  --md-sys-color-on-tertiary-fixed-variant: #403285;
  --md-sys-color-error: #aa371c;
  --md-sys-color-error-dim: #821a01;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fa7150;
  --md-sys-color-on-error-container: #671200;
}
