/* source=#63A002 variant=expressive mode=light spec=2025 */
:root {
  --md-sys-color-background: #edffe1;
  --md-sys-color-on-background: #1d3916;
  --md-sys-color-surface: #edffe1;
  --md-sys-color-surface-dim: #bee5ae;
  --md-sys-color-surface-bright: #edffe1;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e3fbd6;
  --md-sys-color-surface-container: #daf6cd;
  --md-sys-color-surface-container-high: #d2f1c3;
  --md-sys-color-surface-container-highest: #c9edba;
  --md-sys-color-on-surface: #1d3916;
  --md-sys-color-surface-variant: #c9edba;
  --md-sys-color-on-surface-variant: #48673f;
  --md-sys-color-inverse-surface: #041103;
  --md-sys-color-inverse-on-surface: #90a287;
  --md-sys-color-outline: #638359;
  --md-sys-color-outline-variant: #99bb8c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #446914;
  --md-sys-color-primary: #446914;
  --md-sys-color-primary-dim: #395d06;
  --md-sys-color-on-primary: #eeffd4;
  --md-sys-color-primary-container: #c3f18c;
  --md-sys-color-on-primary-container: #375b04;
  --md-sys-color-primary-fixed: #c3f18c;
  --md-sys-color-primary-fixed-dim: #b6e280;
  --md-sys-color-on-primary-fixed: #294700;
  --md-sys-color-on-primary-fixed-variant: #416510;
  --md-sys-color-inverse-primary: #c9f791;
  --md-sys-color-secondary: #5d5c7e;
  --md-sys-color-secondary-dim: #515072;
  --md-sys-color-on-secondary: #fbf7ff;
  --md-sys-color-secondary-container: #e2dfff;
  --md-sys-color-on-secondary-container: #4f4e70;
  --md-sys-color-secondary-fixed: #e2dfff;
  --md-sys-color-secondary-fixed-dim: #d3d0f9;
  --md-sys-color-on-secondary-fixed: #3d3c5d;
  --md-sys-color-on-secondary-fixed-variant: #59587a;
  --md-sys-color-tertiary: #5e53a8;
  --md-sys-color-tertiary-dim: #52479b;
  --md-sys-color-on-tertiary: #fcf7ff;
  --md-sys-color-tertiary-container: #b9afff;
  --md-sys-color-on-tertiary-container: #35287c;
  --md-sys-color-tertiary-fixed: #b9afff;
  --md-sys-color-tertiary-fixed-dim: #aba0fb;
  --md-sys-color-on-tertiary-fixed: #1e0b66;
  --md-sys-color-on-tertiary-fixed-variant: #3e3286;
  --md-sys-color-error: #aa371c;
  --md-sys-color-error-dim: #821a01;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fa7150;
  --md-sys-color-on-error-container: #671200;
}
