/* source=#63A002 variant=expressive mode=dark spec=2025 */
:root {
  --md-sys-color-background: #071105;
  --md-sys-color-on-background: #d3edc6;
  --md-sys-color-surface: #071105;
  --md-sys-color-surface-dim: #071105;
  --md-sys-color-surface-bright: #1b3115;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #0a1607;
  --md-sys-color-surface-container: #0e1d0a;
  --md-sys-color-surface-container-high: #12240e;
  --md-sys-color-surface-container-highest: #172a11;
  --md-sys-color-on-surface: #d3edc6;
  --md-sys-color-surface-variant: #172a11;
  --md-sys-color-on-surface-variant: #99b28e;
  --md-sys-color-inverse-surface: #f0fee6;
  --md-sys-color-inverse-on-surface: #4c5947;
  --md-sys-color-outline: #657c5c;
  --md-sys-color-outline-variant: #384e31;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f0ffd7;
  --md-sys-color-primary: #f0ffd7;
  --md-sys-color-primary-dim: #d5f6ab;
  --md-sys-color-on-primary: #4c672c;
  --md-sys-color-primary-container: #d5f6ab;
  --md-sys-color-on-primary-container: #445e25;
  --md-sys-color-primary-fixed: #cdeda3;
  --md-sys-color-primary-fixed-dim: #bfdf97;
  --md-sys-color-on-primary-fixed: #2e460e;
  --md-sys-color-on-primary-fixed-variant: #496329;
  --md-sys-color-inverse-primary: #4c672c;
  --md-sys-color-secondary: #c7c4dd;
  --md-sys-color-secondary-dim: #b9b6ce;
  --md-sys-color-on-secondary: #3f3e52;
  --md-sys-color-secondary-container: #242436;
  --md-sys-color-on-secondary-container: #a4a1b9;
  --md-sys-color-secondary-fixed: #e9e5ff;
  --md-sys-color-secondary-fixed-dim: #dad7f1;
  --md-sys-color-on-secondary-fixed: #424155;
  --md-sys-color-on-secondary-fixed-variant: #5e5d72;
  --md-sys-color-tertiary: #c8bfff;
  --md-sys-color-tertiary-dim: #aba0fb;
  --md-sys-color-on-tertiary: #3f3386;
  --md-sys-color-tertiary-container: #b9afff;
  --md-sys-color-on-tertiary-container: #35287c;
  --md-sys-color-tertiary-fixed: #b9afff;
  --md-sys-color-tertiary-fixed-dim: #aba0fb;
  --md-sys-color-on-tertiary-fixed: #1e0b66;
  --md-sys-color-on-tertiary-fixed-variant: #3e3286;
  --md-sys-color-error: #fe7453;
  --md-sys-color-error-dim: #c74c2f;
  --md-sys-color-on-error: #450900;
  --md-sys-color-error-container: #881f05;
  --md-sys-color-on-error-container: #ff9b82;
}
