/* source=#769CDF variant=expressive mode=light spec=2025 */
:root {
  --md-sys-color-background: #f9f9ff;
  --md-sys-color-on-background: #1c3256;
  --md-sys-color-surface: #f9f9ff;
  --md-sys-color-surface-dim: #c9daff;
  --md-sys-color-surface-bright: #f9f9ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f0f3ff;
  --md-sys-color-surface-container: #e8eeff;
  --md-sys-color-surface-container-high: #dfe8ff;
  --md-sys-color-surface-container-highest: #d6e3ff;
  --md-sys-color-on-surface: #1c3256;
  --md-sys-color-surface-variant: #d6e3ff;
  --md-sys-color-on-surface-variant: #4b5f85;
  --md-sys-color-inverse-surface: #040e20;
  --md-sys-color-inverse-on-surface: #929db5;
  --md-sys-color-outline: #667ba2;
  --md-sys-color-outline-variant: #9db2dd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2b5ea8;
  --md-sys-color-primary: #2b5ea8;
  --md-sys-color-primary-dim: #1a529b;
  --md-sys-color-on-primary: #f8f8ff;
  --md-sys-color-primary-container: #a1c2ff;
  --md-sys-color-on-primary-container: #003b7b;
  --md-sys-color-primary-fixed: #a1c2ff;
  --md-sys-color-primary-fixed-dim: #89b4ff;
  --md-sys-color-on-primary-fixed: #002754;
  --md-sys-color-on-primary-fixed-variant: #00448b;
  --md-sys-color-inverse-primary: #7ba9f8;
  --md-sys-color-secondary: #406755;
  --md-sys-color-secondary-dim: #345b49;
  --md-sys-color-on-secondary: #e5fff0;
  --md-sys-color-secondary-container: #cffbe3;
  --md-sys-color-on-secondary-container: #3b6250;
  --md-sys-color-secondary-fixed: #cffbe3;
  --md-sys-color-secondary-fixed-dim: #c1ecd5;
  --md-sys-color-on-secondary-fixed: #284f3e;
  --md-sys-color-on-secondary-fixed-variant: #456c5a;
  --md-sys-color-tertiary: #006d46;
  --md-sys-color-tertiary-dim: #00603d;
  --md-sys-color-on-tertiary: #e6ffed;
  --md-sys-color-tertiary-container: #87efb7;
  --md-sys-color-on-tertiary-container: #005838;
  --md-sys-color-tertiary-fixed: #87efb7;
  --md-sys-color-tertiary-fixed-dim: #78e0aa;
  --md-sys-color-on-tertiary-fixed: #004329;
  --md-sys-color-on-tertiary-fixed-variant: #00633f;
  --md-sys-color-error: #ac3434;
  --md-sys-color-error-dim: #70030f;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #f56965;
  --md-sys-color-on-error-container: #65000b;
}
