/* source=#6750A4 variant=expressive mode=light spec=2025 */
:root {
  --md-sys-color-background: #fff7ff;
  --md-sys-color-on-background: #3d2a51;
  --md-sys-color-surface: #fff7ff;
  --md-sys-color-surface-dim: #e9d1ff;
  --md-sys-color-surface-bright: #fff7ff;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-surface-container-low: #fbf0ff;
  --md-sys-color-surface-container: #f7e9ff;
  --md-sys-color-surface-container-high: #f3e2ff;
  --md-sys-color-surface-container-highest: #efdbff;
  --md-sys-color-on-surface: #3d2a51;
  --md-sys-color-surface-variant: #efdbff;
  --md-sys-color-on-surface-variant: #6b5681;
  --md-sys-color-inverse-surface: #130a1e;
  --md-sys-color-inverse-on-surface: #a697b2;
  --md-sys-color-outline: #88729e;
  --md-sys-color-outline-variant: #c1a8d8;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #6850a5;
  --md-sys-color-primary: #6850a5;
  --md-sys-color-primary-dim: #5b4498;
  --md-sys-color-on-primary: #fdf7ff;
  --md-sys-color-primary-container: #cab6ff;
  --md-sys-color-on-primary-container: #442c7f;
  --md-sys-color-primary-fixed: #cab6ff;
  --md-sys-color-primary-fixed-dim: #bea5ff;
  --md-sys-color-on-primary-fixed: #2f1369;
  --md-sys-color-on-primary-fixed-variant: #4d3689;
  --md-sys-color-inverse-primary: #bba2fe;
  --md-sys-color-secondary: #4d6645;
  --md-sys-color-secondary-dim: #41593a;
  --md-sys-color-on-secondary: #ebffe0;
  --md-sys-color-secondary-container: #d3f1c7;
  --md-sys-color-on-secondary-container: #435b3c;
  --md-sys-color-secondary-fixed: #d3f1c7;
  --md-sys-color-secondary-fixed-dim: #c5e2ba;
  --md-sys-color-on-secondary-fixed: #31492b;
  --md-sys-color-on-secondary-fixed-variant: #4d6645;
  --md-sys-color-tertiary: #376b21;
  --md-sys-color-tertiary-dim: #2b5e15;
  --md-sys-color-on-tertiary: #ecffdc;
  --md-sys-color-tertiary-container: #c2ffa2;
  --md-sys-color-on-tertiary-container: #31641b;
  --md-sys-color-tertiary-fixed: #c2ffa2;
  --md-sys-color-tertiary-fixed-dim: #b4f095;
  --md-sys-color-on-tertiary-fixed: #1e5107;
  --md-sys-color-on-tertiary-fixed-variant: #3b6f24;
  --md-sys-color-error: #ac3149;
  --md-sys-color-error-dim: #770326;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #f76a80;
  --md-sys-color-on-error-container: #68001f;
}
