/* source=#63A002 variant=neutral mode=light spec=2025 */
:root {
  --md-sys-color-background: #fcf9f6;
  --md-sys-color-on-background: #32332f;
  --md-sys-color-surface: #fcf9f6;
  --md-sys-color-surface-dim: #dbdad4;
  --md-sys-color-surface-bright: #fcf9f6;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-surface-container-low: #f6f3f0;
  --md-sys-color-surface-container: #f0eee9;
  --md-sys-color-surface-container-high: #eae8e3;
  --md-sys-color-surface-container-highest: #e4e2dd;
  --md-sys-color-on-surface: #32332f;
  --md-sys-color-surface-variant: #e4e2dd;
  --md-sys-color-on-surface-variant: #5f5f5b;
  --md-sys-color-inverse-surface: #0e0e0d;
  --md-sys-color-inverse-on-surface: #9e9d9a;
  --md-sys-color-outline: #7b7b76;
  --md-sys-color-outline-variant: #b3b2ad;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #5c6054;
  --md-sys-color-primary: #5c6054;
  --md-sys-color-primary-dim: #505449;
  --md-sys-color-on-primary: #f6f9ea;
  --md-sys-color-primary-container: #e1e4d5;
  --md-sys-color-on-primary-container: #4f5348;
  --md-sys-color-primary-fixed: #e1e4d5;
  --md-sys-color-primary-fixed-dim: #d3d6c7;
  --md-sys-color-on-primary-fixed: #3d4136;
  --md-sys-color-on-primary-fixed-variant: #595d51;
  --md-sys-color-inverse-primary: #fbfeee;
  --md-sys-color-secondary: #5f605a;
  --md-sys-color-secondary-dim: #53544e;
  --md-sys-color-on-secondary: #faf9f2;
  --md-sys-color-secondary-container: #e3e3db;
  --md-sys-color-on-secondary-container: #51524d;
  --md-sys-color-secondary-fixed: #e3e3db;
  --md-sys-color-secondary-fixed-dim: #d5d5cd;
  --md-sys-color-on-secondary-fixed: #3f403b;
  --md-sys-color-on-secondary-fixed-variant: #5b5c56;
  --md-sys-color-tertiary: #516449;
  --md-sys-color-tertiary-dim: #45583e;
  --md-sys-color-on-tertiary: #ebffdf;
  --md-sys-color-tertiary-container: #e1f8d5;
  --md-sys-color-on-tertiary-container: #4c5f45;
  --md-sys-color-tertiary-fixed: #e1f8d5;
  --md-sys-color-tertiary-fixed-dim: #d3e9c7;
  --md-sys-color-on-tertiary-fixed: #3a4d34;
  --md-sys-color-on-tertiary-fixed-variant: #566a4e;
  --md-sys-color-error: #9e422c;
  --md-sys-color-error-dim: #5c1202;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe8b70;
  --md-sys-color-on-error-container: #742410;
}
