/* source=#63A002 variant=neutral mode=dark spec=2025 */
:root {
  --md-sys-color-background: #0e0e0d;
  --md-sys-color-on-background: #e7e5e0;
  --md-sys-color-surface: #0e0e0d;
  --md-sys-color-surface-dim: #0e0e0d;
  --md-sys-color-surface-bright: #2b2c28;
  --md-sys-color-surface-container-lowest: #000;
  --md-sys-color-surface-container-low: #131312;
  --md-sys-color-surface-container: #191a17;
  --md-sys-color-surface-container-high: #1f201d;
  --md-sys-color-surface-container-highest: #252623;
  --md-sys-color-on-surface: #e7e5e0;
  --md-sys-color-surface-variant: #252623;
  --md-sys-color-on-surface-variant: #acaba6;
  --md-sys-color-inverse-surface: #fcf9f6;
  --md-sys-color-inverse-on-surface: #565553;
  --md-sys-color-outline: #767671;
  --md-sys-color-outline-variant: #484844;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #c5c8ba;
  --md-sys-color-primary: #c5c8ba;
  --md-sys-color-primary-dim: #b7baac;
  --md-sys-color-on-primary: #3e4237;
  --md-sys-color-primary-container: #44483d;
  --md-sys-color-on-primary-container: #cfd2c3;
  --md-sys-color-primary-fixed: #e1e4d5;
  --md-sys-color-primary-fixed-dim: #d3d6c7;
  --md-sys-color-on-primary-fixed: #3d4136;
  --md-sys-color-on-primary-fixed-variant: #595d51;
  --md-sys-color-inverse-primary: #5d6055;
  --md-sys-color-secondary: #9e9e98;
  --md-sys-color-secondary-dim: #9e9e98;
  --md-sys-color-on-secondary: #1f211c;
  --md-sys-color-secondary-container: #3b3c37;
  --md-sys-color-on-secondary-container: #c0c0b9;
  --md-sys-color-secondary-fixed: #e3e3db;
  --md-sys-color-secondary-fixed-dim: #d5d5cd;
  --md-sys-color-on-secondary-fixed: #3f403b;
  --md-sys-color-on-secondary-fixed-variant: #5b5c56;
  --md-sys-color-tertiary: #edffe1;
  --md-sys-color-tertiary-dim: #dbf2cf;
  --md-sys-color-on-tertiary: #516449;
  --md-sys-color-tertiary-container: #dbf2cf;
  --md-sys-color-on-tertiary-container: #495c42;
  --md-sys-color-tertiary-fixed: #e1f8d5;
  --md-sys-color-tertiary-fixed-dim: #d3e9c7;
  --md-sys-color-on-tertiary-fixed: #3a4d34;
  --md-sys-color-on-tertiary-fixed-variant: #566a4e;
  --md-sys-color-error: #ed7f64;
  --md-sys-color-error-dim: #ba573f;
  --md-sys-color-on-error: #450900;
  --md-sys-color-error-container: #7e2b17;
  --md-sys-color-on-error-container: #ff9b82;
}
