/* source=#6750A4 variant=neutral mode=light spec=2025 */
:root {
  --md-sys-color-background: #fdf8f9;
  --md-sys-color-on-background: #333235;
  --md-sys-color-surface: #fdf8f9;
  --md-sys-color-surface-dim: #ddd9dd;
  --md-sys-color-surface-bright: #fdf8f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #f1edef;
  --md-sys-color-surface-container-high: #ece7ea;
  --md-sys-color-surface-container-highest: #e6e1e4;
  --md-sys-color-on-surface: #333235;
  --md-sys-color-surface-variant: #e6e1e4;
  --md-sys-color-on-surface-variant: #615e61;
  --md-sys-color-inverse-surface: #0f0e0f;
  --md-sys-color-inverse-on-surface: #9f9c9d;
  --md-sys-color-outline: #7d7a7d;
  --md-sys-color-outline-variant: #b5b1b4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615d66;
  --md-sys-color-primary: #615d66;
  --md-sys-color-primary-dim: #54515a;
  --md-sys-color-on-primary: #fcf5ff;
  --md-sys-color-primary-container: #e7e0eb;
  --md-sys-color-on-primary-container: #545059;
  --md-sys-color-primary-fixed: #e7e0eb;
  --md-sys-color-primary-fixed-dim: #d8d2dd;
  --md-sys-color-on-primary-fixed: #413e47;
  --md-sys-color-on-primary-fixed-variant: #5e5a63;
  --md-sys-color-inverse-primary: #f8f1fd;
  --md-sys-color-secondary: #615e62;
  --md-sys-color-secondary-dim: #555256;
  --md-sys-color-on-secondary: #fdf7fc;
  --md-sys-color-secondary-container: #e6e1e6;
  --md-sys-color-on-secondary-container: #535155;
  --md-sys-color-secondary-fixed: #e6e1e6;
  --md-sys-color-secondary-fixed-dim: #d8d3d8;
  --md-sys-color-on-secondary-fixed: #413e42;
  --md-sys-color-on-secondary-fixed-variant: #5d5a5f;
  --md-sys-color-tertiary: #5c5d78;
  --md-sys-color-tertiary-dim: #50516c;
  --md-sys-color-on-tertiary: #fbf7ff;
  --md-sys-color-tertiary-container: #dbdafb;
  --md-sys-color-on-tertiary-container: #4b4c67;
  --md-sys-color-tertiary-fixed: #dbdafb;
  --md-sys-color-tertiary-fixed-dim: #cdccec;
  --md-sys-color-on-tertiary-fixed: #393a53;
  --md-sys-color-on-tertiary-fixed-variant: #555671;
  --md-sys-color-error: #9e3f4e;
  --md-sys-color-error-dim: #4f0116;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #ff8b9a;
  --md-sys-color-on-error-container: #782232;
}
