/* source=#769CDF variant=neutral mode=light spec=2025 */
:root {
  --md-sys-color-background: #fcf8f9;
  --md-sys-color-on-background: #323235;
  --md-sys-color-surface: #fcf8f9;
  --md-sys-color-surface-dim: #dbd9dd;
  --md-sys-color-surface-bright: #fcf8f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f6f3f4;
  --md-sys-color-surface-container: #f0edef;
  --md-sys-color-surface-container-high: #eae7ea;
  --md-sys-color-surface-container-highest: #e4e2e5;
  --md-sys-color-on-surface: #323235;
  --md-sys-color-surface-variant: #e4e2e5;
  --md-sys-color-on-surface-variant: #5f5f61;
  --md-sys-color-inverse-surface: #0e0e0f;
  --md-sys-color-inverse-on-surface: #9e9c9d;
  --md-sys-color-outline: #7b7a7d;
  --md-sys-color-outline-variant: #b3b1b4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #595e6c;
  --md-sys-color-primary: #595e6c;
  --md-sys-color-primary-dim: #4d525f;
  --md-sys-color-on-primary: #f7f7ff;
  --md-sys-color-primary-container: #dde2f2;
  --md-sys-color-on-primary-container: #4c525f;
  --md-sys-color-primary-fixed: #dde2f2;
  --md-sys-color-primary-fixed-dim: #cfd4e4;
  --md-sys-color-on-primary-fixed: #3a3f4c;
  --md-sys-color-on-primary-fixed-variant: #565b69;
  --md-sys-color-inverse-primary: #e6ebfb;
  --md-sys-color-secondary: #5d5f65;
  --md-sys-color-secondary-dim: #515359;
  --md-sys-color-on-secondary: #f8f8ff;
  --md-sys-color-secondary-container: #e2e2e9;
  --md-sys-color-on-secondary-container: #505257;
  --md-sys-color-secondary-fixed: #e2e2e9;
  --md-sys-color-secondary-fixed-dim: #d3d4db;
  --md-sys-color-on-secondary-fixed: #3d3f45;
  --md-sys-color-on-secondary-fixed-variant: #5a5b61;
  --md-sys-color-tertiary: #5e5c78;
  --md-sys-color-tertiary-dim: #52506b;
  --md-sys-color-on-tertiary: #fbf7ff;
  --md-sys-color-tertiary-container: #d7d4f5;
  --md-sys-color-on-tertiary-container: #494863;
  --md-sys-color-tertiary-fixed: #d7d4f5;
  --md-sys-color-tertiary-fixed-dim: #c9c6e6;
  --md-sys-color-on-tertiary-fixed: #36354f;
  --md-sys-color-on-tertiary-fixed-variant: #53526d;
  --md-sys-color-error: #9f403d;
  --md-sys-color-error-dim: #4e0309;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe8983;
  --md-sys-color-on-error-container: #752121;
}
