/* source=#FFDE3F variant=neutral mode=light spec=2025 */
:root {
  --md-sys-color-background: #fdf8f5;
  --md-sys-color-on-background: #34322e;
  --md-sys-color-surface: #fdf8f5;
  --md-sys-color-surface-dim: #dfd9d2;
  --md-sys-color-surface-bright: #fdf8f5;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f3ee;
  --md-sys-color-surface-container: #f2ede8;
  --md-sys-color-surface-container-high: #ece7e1;
  --md-sys-color-surface-container-highest: #e7e2db;
  --md-sys-color-on-surface: #34322e;
  --md-sys-color-surface-variant: #e7e2db;
  --md-sys-color-on-surface-variant: #615f59;
  --md-sys-color-inverse-surface: #0f0e0c;
  --md-sys-color-inverse-on-surface: #a09c99;
  --md-sys-color-outline: #7e7a75;
  --md-sys-color-outline-variant: #b6b1ab;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #635e50;
  --md-sys-color-primary: #635e50;
  --md-sys-color-primary-dim: #575244;
  --md-sys-color-on-primary: #fff7e5;
  --md-sys-color-primary-container: #eae2d0;
  --md-sys-color-on-primary-container: #565244;
  --md-sys-color-primary-fixed: #eae2d0;
  --md-sys-color-primary-fixed-dim: #dbd4c2;
  --md-sys-color-on-primary-fixed: #433f32;
  --md-sys-color-on-primary-fixed-variant: #605b4d;
  --md-sys-color-inverse-primary: #fef6e3;
  --md-sys-color-secondary: #625f58;
  --md-sys-color-secondary-dim: #56534c;
  --md-sys-color-on-secondary: #fef8ef;
  --md-sys-color-secondary-container: #e7e2d9;
  --md-sys-color-on-secondary-container: #54514b;
  --md-sys-color-secondary-fixed: #e7e2d9;
  --md-sys-color-secondary-fixed-dim: #d9d4cb;
  --md-sys-color-on-secondary-fixed: #423f39;
  --md-sys-color-on-secondary-fixed-variant: #5e5b54;
  --md-sys-color-tertiary: #5a6341;
  --md-sys-color-tertiary-dim: #4e5736;
  --md-sys-color-on-tertiary: #f4fed2;
  --md-sys-color-tertiary-container: #e9f3c7;
  --md-sys-color-on-tertiary-container: #545c3b;
  --md-sys-color-tertiary-fixed: #e9f3c7;
  --md-sys-color-tertiary-fixed-dim: #dbe4ba;
  --md-sys-color-on-tertiary-fixed: #414a2a;
  --md-sys-color-on-tertiary-fixed-variant: #5e6644;
  --md-sys-color-error: #9e422c;
  --md-sys-color-error-dim: #5c1202;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe8b70;
  --md-sys-color-on-error-container: #742410;
}
