/* source=#B33B15 variant=neutral mode=light spec=2025 */
:root {
  --md-sys-color-background: #fff8f6;
  --md-sys-color-on-background: #373130;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-surface-dim: #e3d8d5;
  --md-sys-color-surface-bright: #fff8f6;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-surface-container-low: #faf2f0;
  --md-sys-color-surface-container: #f5ecea;
  --md-sys-color-surface-container-high: #f0e6e4;
  --md-sys-color-surface-container-highest: #ebe0de;
  --md-sys-color-on-surface: #373130;
  --md-sys-color-surface-variant: #ebe0de;
  --md-sys-color-on-surface-variant: #655d5c;
  --md-sys-color-inverse-surface: #100e0d;
  --md-sys-color-inverse-on-surface: #a19c9a;
  --md-sys-color-outline: #817977;
  --md-sys-color-outline-variant: #b9b0ae;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #6c5b56;
  --md-sys-color-primary: #6c5b56;
  --md-sys-color-primary-dim: #5f4f4a;
  --md-sys-color-on-primary: #fff6f4;
  --md-sys-color-primary-container: #f5ded8;
  --md-sys-color-on-primary-container: #5e4e4a;
  --md-sys-color-primary-fixed: #f5ded8;
  --md-sys-color-primary-fixed-dim: #e6d0ca;
  --md-sys-color-on-primary-fixed: #4b3c38;
  --md-sys-color-on-primary-fixed-variant: #695853;
  --md-sys-color-inverse-primary: #fee6e0;
  --md-sys-color-secondary: #665d5b;
  --md-sys-color-secondary-dim: #5a514f;
  --md-sys-color-on-secondary: #fff7f5;
  --md-sys-color-secondary-container: #ede0dc;
  --md-sys-color-on-secondary-container: #58504e;
  --md-sys-color-secondary-fixed: #ede0dc;
  --md-sys-color-secondary-fixed-dim: #ded2cf;
  --md-sys-color-on-secondary-fixed: #453e3c;
  --md-sys-color-on-secondary-fixed-variant: #625a57;
  --md-sys-color-tertiary: #7a555e;
  --md-sys-color-tertiary-dim: #6d4952;
  --md-sys-color-on-tertiary: #fff7f7;
  --md-sys-color-tertiary-container: #ffcdd8;
  --md-sys-color-on-tertiary-container: #66434c;
  --md-sys-color-tertiary-fixed: #ffcdd8;
  --md-sys-color-tertiary-fixed-dim: #f0c0ca;
  --md-sys-color-on-tertiary-fixed: #513039;
  --md-sys-color-on-tertiary-fixed-variant: #704c55;
  --md-sys-color-error: #9f403d;
  --md-sys-color-error-dim: #4e0309;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe8983;
  --md-sys-color-on-error-container: #752121;
}
