:root {
  --md-sys-color-background: var(--md-ref-color-neutral98);
  --md-sys-color-on-background: var(--md-ref-color-neutral10);
  --md-sys-color-surface: var(--md-ref-color-neutral98);
  --md-sys-color-surface-dim: var(--md-ref-color-neutral87);
  --md-sys-color-surface-bright: var(--md-ref-color-neutral98);
  --md-sys-color-surface-container-lowest: var(--md-ref-color-neutral100);
  --md-sys-color-surface-container-low: var(--md-ref-color-neutral96);
  --md-sys-color-surface-container: var(--md-ref-color-neutral94);
  --md-sys-color-surface-container-high: var(--md-ref-color-neutral92);
  --md-sys-color-surface-container-highest: var(--md-ref-color-neutral90);
  --md-sys-color-on-surface: var(--md-ref-color-neutral10);
  --md-sys-color-surface-variant: var(--md-ref-color-neutral-variant90);
  --md-sys-color-on-surface-variant: var(--md-ref-color-neutral-variant30);
  --md-sys-color-inverse-surface: var(--md-ref-color-neutral20);
  --md-sys-color-inverse-on-surface: var(--md-ref-color-neutral95);
  --md-sys-color-outline: var(--md-ref-color-neutral-variant50);
  --md-sys-color-outline-variant: var(--md-ref-color-neutral-variant80);
  --md-sys-color-shadow: var(--md-ref-color-neutral0);
  --md-sys-color-scrim: var(--md-ref-color-neutral0);
  --md-sys-color-surface-tint: var(--md-ref-color-primary40);
  --md-sys-color-primary: var(--md-ref-color-primary40);
  --md-sys-color-primary-dim: var(--md-ref-color-primary40);
  --md-sys-color-on-primary: var(--md-ref-color-primary100);
  --md-sys-color-primary-container: var(--md-ref-color-primary90);
  --md-sys-color-on-primary-container: var(--md-ref-color-primary30);
  --md-sys-color-primary-fixed: var(--md-ref-color-primary90);
  --md-sys-color-primary-fixed-dim: var(--md-ref-color-primary80);
  --md-sys-color-on-primary-fixed: var(--md-ref-color-primary10);
  --md-sys-color-on-primary-fixed-variant: var(--md-ref-color-primary30);
  --md-sys-color-inverse-primary: var(--md-ref-color-primary80);
  --md-sys-color-secondary: var(--md-ref-color-secondary40);
  --md-sys-color-secondary-dim: var(--md-ref-color-secondary40);
  --md-sys-color-on-secondary: var(--md-ref-color-secondary100);
  --md-sys-color-secondary-container: var(--md-ref-color-secondary90);
  --md-sys-color-on-secondary-container: var(--md-ref-color-secondary30);
  --md-sys-color-secondary-fixed: var(--md-ref-color-secondary90);
  --md-sys-color-secondary-fixed-dim: var(--md-ref-color-secondary80);
  --md-sys-color-on-secondary-fixed: var(--md-ref-color-secondary10);
  --md-sys-color-on-secondary-fixed-variant: var(--md-ref-color-secondary30);
  --md-sys-color-tertiary: var(--md-ref-color-tertiary40);
  --md-sys-color-tertiary-dim: var(--md-ref-color-tertiary40);
  --md-sys-color-on-tertiary: var(--md-ref-color-tertiary100);
  --md-sys-color-tertiary-container: var(--md-ref-color-tertiary90);
  --md-sys-color-on-tertiary-container: var(--md-ref-color-tertiary30);
  --md-sys-color-tertiary-fixed: var(--md-ref-color-tertiary90);
  --md-sys-color-tertiary-fixed-dim: var(--md-ref-color-tertiary80);
  --md-sys-color-on-tertiary-fixed: var(--md-ref-color-tertiary10);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-ref-color-tertiary30);
  --md-sys-color-error: var(--md-ref-color-error40);
  --md-sys-color-error-dim: var(--md-ref-color-error40);
  --md-sys-color-on-error: var(--md-ref-color-error100);
  --md-sys-color-error-container: var(--md-ref-color-error90);
  --md-sys-color-on-error-container: var(--md-ref-color-error30);
}
