:root {
  --md-ref-typography-sans-font-family:
    'Google Sans', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --md-sys-radius-full: 9999px;
  --md-sys-radius-extra-extra-large: 48px;
  --md-sys-radius-extra-large-increased: 32px;
  --md-sys-radius-extra-large: 28px;
  --md-sys-radius-large-increased: 20px;
  --md-sys-radius-large: 16px;
  --md-sys-radius-medium: 12px;
  --md-sys-radius-small: 8px;
  --md-sys-radius-extra-small: 4px;
  --md-sys-radius-none: 0px;
  --md-sys-timing-function-spatial-fast: cubic-bezier(0.42, 1.67, 0.21, 0.9);
  --md-sys-timing-function-spatial-default: cubic-bezier(0.38, 1.21, 0.22, 1);
  --md-sys-timing-function-spatial-slow: cubic-bezier(0.39, 1.29, 0.35, 0.98);
  --md-sys-timing-function-effects-fast: cubic-bezier(0.31, 0.94, 0.34, 1);
  --md-sys-timing-function-effects-default: cubic-bezier(0.34, 0.8, 0.34, 1);
  --md-sys-timing-function-effects-slow: cubic-bezier(0.34, 0.88, 0.34, 1);
  --md-sys-duration-spatial-fast: 350ms;
  --md-sys-duration-spatial-default: 500ms;
  --md-sys-duration-spatial-slow: 650ms;
  --md-sys-duration-effects-fast: 150ms;
  --md-sys-duration-effects-default: 200ms;
  --md-sys-duration-effects-slow: 300ms;
  --md-sys-opacity-pressed: 0.12;
  --md-sys-opacity-focused: 0.12;
  --md-sys-opacity-hovered: 0.08;
  --md-sys-opacity-dragged: 0.16;
  --md-sys-opacity-scrim: 0.32;
  --md-sys-opacity-shadow: 0.4;
  --md-sys-opacity-disabled-content: 0.38;
  --md-sys-opacity-disabled-outline: 0.38;
  --md-sys-opacity-disabled-container: 0.12;
  --md-sys-typography-display-large-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-display-medium-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-display-small-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-headline-large-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-headline-medium-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-headline-small-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-title-large-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-title-medium-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-title-small-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-body-large-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-body-medium-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-body-small-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-label-large-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-label-medium-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-label-small-font-family: var(--md-ref-typography-sans-font-family);
  --md-sys-typography-display-large-font-weight: 500;
  --md-sys-typography-display-medium-font-weight: 500;
  --md-sys-typography-display-small-font-weight: 500;
  --md-sys-typography-headline-large-font-weight: 500;
  --md-sys-typography-headline-medium-font-weight: 500;
  --md-sys-typography-headline-small-font-weight: 500;
  --md-sys-typography-title-large-font-weight: 500;
  --md-sys-typography-title-medium-font-weight: 700;
  --md-sys-typography-title-small-font-weight: 700;
  --md-sys-typography-body-large-font-weight: 500;
  --md-sys-typography-body-medium-font-weight: 500;
  --md-sys-typography-body-small-font-weight: 500;
  --md-sys-typography-label-large-font-weight: 700;
  --md-sys-typography-label-medium-font-weight: 700;
  --md-sys-typography-label-small-font-weight: 700;
  --md-sys-typography-display-large-font-size: 57;
  --md-sys-typography-display-medium-font-size: 45;
  --md-sys-typography-display-small-font-size: 36;
  --md-sys-typography-headline-large-font-size: 32;
  --md-sys-typography-headline-medium-font-size: 28;
  --md-sys-typography-headline-small-font-size: 24;
  --md-sys-typography-title-large-font-size: 22;
  --md-sys-typography-title-medium-font-size: 16;
  --md-sys-typography-title-small-font-size: 14;
  --md-sys-typography-body-large-font-size: 16;
  --md-sys-typography-body-medium-font-size: 14;
  --md-sys-typography-body-small-font-size: 12;
  --md-sys-typography-label-large-font-size: 14;
  --md-sys-typography-label-medium-font-size: 12;
  --md-sys-typography-label-small-font-size: 11;
  --md-sys-typography-display-large-line-height: 64;
  --md-sys-typography-display-medium-line-height: 52;
  --md-sys-typography-display-small-line-height: 44;
  --md-sys-typography-headline-large-line-height: 40;
  --md-sys-typography-headline-medium-line-height: 36;
  --md-sys-typography-headline-small-line-height: 32;
  --md-sys-typography-title-large-line-height: 28;
  --md-sys-typography-title-medium-line-height: 24;
  --md-sys-typography-title-small-line-height: 20;
  --md-sys-typography-body-large-line-height: 24;
  --md-sys-typography-body-medium-line-height: 20;
  --md-sys-typography-body-small-line-height: 16;
  --md-sys-typography-label-large-line-height: 20;
  --md-sys-typography-label-medium-line-height: 16;
  --md-sys-typography-label-small-line-height: 16;
  --md-sys-typography-display-large-letter-spacing: -0.25;
  --md-sys-typography-display-medium-letter-spacing: 0;
  --md-sys-typography-display-small-letter-spacing: 0;
  --md-sys-typography-headline-large-letter-spacing: 0;
  --md-sys-typography-headline-medium-letter-spacing: 0;
  --md-sys-typography-headline-small-letter-spacing: 0;
  --md-sys-typography-title-large-letter-spacing: 0;
  --md-sys-typography-title-medium-letter-spacing: 0.15;
  --md-sys-typography-title-small-letter-spacing: 0.1;
  --md-sys-typography-body-large-letter-spacing: 0.5;
  --md-sys-typography-body-medium-letter-spacing: 0.25;
  --md-sys-typography-body-small-letter-spacing: 0.4;
  --md-sys-typography-label-large-letter-spacing: 0.1;
  --md-sys-typography-label-medium-letter-spacing: 0.5;
  --md-sys-typography-label-small-letter-spacing: 0.5;
  --md-sys-typography-display-large-font-style: normal;
  --md-sys-typography-display-medium-font-style: normal;
  --md-sys-typography-display-small-font-style: normal;
  --md-sys-typography-headline-large-font-style: normal;
  --md-sys-typography-headline-medium-font-style: normal;
  --md-sys-typography-headline-small-font-style: normal;
  --md-sys-typography-title-large-font-style: normal;
  --md-sys-typography-title-medium-font-style: normal;
  --md-sys-typography-title-small-font-style: normal;
  --md-sys-typography-body-large-font-style: normal;
  --md-sys-typography-body-medium-font-style: normal;
  --md-sys-typography-body-small-font-style: normal;
  --md-sys-typography-label-large-font-style: normal;
  --md-sys-typography-label-medium-font-style: normal;
  --md-sys-typography-label-small-font-style: normal;
  --md-sys-typography-display-large-text-transform: none;
  --md-sys-typography-display-medium-text-transform: none;
  --md-sys-typography-display-small-text-transform: none;
  --md-sys-typography-headline-large-text-transform: none;
  --md-sys-typography-headline-medium-text-transform: none;
  --md-sys-typography-headline-small-text-transform: none;
  --md-sys-typography-title-large-text-transform: none;
  --md-sys-typography-title-medium-text-transform: none;
  --md-sys-typography-title-small-text-transform: none;
  --md-sys-typography-body-large-text-transform: none;
  --md-sys-typography-body-medium-text-transform: none;
  --md-sys-typography-body-small-text-transform: none;
  --md-sys-typography-label-large-text-transform: none;
  --md-sys-typography-label-medium-text-transform: none;
  --md-sys-typography-label-small-text-transform: none;
  --md-sys-typography-display-large-text-decoration: none;
  --md-sys-typography-display-medium-text-decoration: none;
  --md-sys-typography-display-small-text-decoration: none;
  --md-sys-typography-headline-large-text-decoration: none;
  --md-sys-typography-headline-medium-text-decoration: none;
  --md-sys-typography-headline-small-text-decoration: none;
  --md-sys-typography-title-large-text-decoration: none;
  --md-sys-typography-title-medium-text-decoration: none;
  --md-sys-typography-title-small-text-decoration: none;
  --md-sys-typography-body-large-text-decoration: none;
  --md-sys-typography-body-medium-text-decoration: none;
  --md-sys-typography-body-small-text-decoration: none;
  --md-sys-typography-label-large-text-decoration: none;
  --md-sys-typography-label-medium-text-decoration: none;
  --md-sys-typography-label-small-text-decoration: none;
  --md-sys-typography-display-large-wght: 500;
  --md-sys-typography-display-medium-wght: 500;
  --md-sys-typography-display-small-wght: 500;
  --md-sys-typography-headline-large-wght: 500;
  --md-sys-typography-headline-medium-wght: 500;
  --md-sys-typography-headline-small-wght: 500;
  --md-sys-typography-title-large-wght: 500;
  --md-sys-typography-title-medium-wght: 600;
  --md-sys-typography-title-small-wght: 600;
  --md-sys-typography-body-large-wght: 500;
  --md-sys-typography-body-medium-wght: 500;
  --md-sys-typography-body-small-wght: 500;
  --md-sys-typography-label-large-wght: 600;
  --md-sys-typography-label-medium-wght: 600;
  --md-sys-typography-label-small-wght: 600;
  --md-sys-typography-display-large-opsz: 57;
  --md-sys-typography-display-medium-opsz: 45;
  --md-sys-typography-display-small-opsz: 36;
  --md-sys-typography-headline-large-opsz: 32;
  --md-sys-typography-headline-medium-opsz: 28;
  --md-sys-typography-headline-small-opsz: 24;
  --md-sys-typography-title-large-opsz: 22;
  --md-sys-typography-title-medium-opsz: 16;
  --md-sys-typography-title-small-opsz: 14;
  --md-sys-typography-body-large-opsz: 16;
  --md-sys-typography-body-medium-opsz: 14;
  --md-sys-typography-body-small-opsz: 12;
  --md-sys-typography-label-large-opsz: 14;
  --md-sys-typography-label-medium-opsz: 12;
  --md-sys-typography-label-small-opsz: 11;
  --md-sys-typography-display-large-grad: 0;
  --md-sys-typography-display-medium-grad: 0;
  --md-sys-typography-display-small-grad: 0;
  --md-sys-typography-headline-large-grad: 0;
  --md-sys-typography-headline-medium-grad: 0;
  --md-sys-typography-headline-small-grad: 0;
  --md-sys-typography-title-large-grad: 0;
  --md-sys-typography-title-medium-grad: 0;
  --md-sys-typography-title-small-grad: 0;
  --md-sys-typography-body-large-grad: 0;
  --md-sys-typography-body-medium-grad: 0;
  --md-sys-typography-body-small-grad: 0;
  --md-sys-typography-label-large-grad: 0;
  --md-sys-typography-label-medium-grad: 0;
  --md-sys-typography-label-small-grad: 0;
  --md-sys-typography-display-large-wdth: 100;
  --md-sys-typography-display-medium-wdth: 100;
  --md-sys-typography-display-small-wdth: 100;
  --md-sys-typography-headline-large-wdth: 100;
  --md-sys-typography-headline-medium-wdth: 100;
  --md-sys-typography-headline-small-wdth: 100;
  --md-sys-typography-title-large-wdth: 100;
  --md-sys-typography-title-medium-wdth: 100;
  --md-sys-typography-title-small-wdth: 100;
  --md-sys-typography-body-large-wdth: 100;
  --md-sys-typography-body-medium-wdth: 100;
  --md-sys-typography-body-small-wdth: 100;
  --md-sys-typography-label-large-wdth: 100;
  --md-sys-typography-label-medium-wdth: 100;
  --md-sys-typography-label-small-wdth: 100;
  --md-sys-typography-display-large-rond: 0;
  --md-sys-typography-display-medium-rond: 0;
  --md-sys-typography-display-small-rond: 0;
  --md-sys-typography-headline-large-rond: 0;
  --md-sys-typography-headline-medium-rond: 0;
  --md-sys-typography-headline-small-rond: 0;
  --md-sys-typography-title-large-rond: 0;
  --md-sys-typography-title-medium-rond: 0;
  --md-sys-typography-title-small-rond: 0;
  --md-sys-typography-body-large-rond: 0;
  --md-sys-typography-body-medium-rond: 0;
  --md-sys-typography-body-small-rond: 0;
  --md-sys-typography-label-large-rond: 0;
  --md-sys-typography-label-medium-rond: 0;
  --md-sys-typography-label-small-rond: 0;
  --md-sys-typography-display-large-crsv: 0;
  --md-sys-typography-display-medium-crsv: 0;
  --md-sys-typography-display-small-crsv: 0;
  --md-sys-typography-headline-large-crsv: 0;
  --md-sys-typography-headline-medium-crsv: 0;
  --md-sys-typography-headline-small-crsv: 0;
  --md-sys-typography-title-large-crsv: 0;
  --md-sys-typography-title-medium-crsv: 0;
  --md-sys-typography-title-small-crsv: 0;
  --md-sys-typography-body-large-crsv: 0;
  --md-sys-typography-body-medium-crsv: 0;
  --md-sys-typography-body-small-crsv: 0;
  --md-sys-typography-label-large-crsv: 0;
  --md-sys-typography-label-medium-crsv: 0;
  --md-sys-typography-label-small-crsv: 0;
  --md-sys-typography-display-large-slnt: 0;
  --md-sys-typography-display-medium-slnt: 0;
  --md-sys-typography-display-small-slnt: 0;
  --md-sys-typography-headline-large-slnt: 0;
  --md-sys-typography-headline-medium-slnt: 0;
  --md-sys-typography-headline-small-slnt: 0;
  --md-sys-typography-title-large-slnt: 0;
  --md-sys-typography-title-medium-slnt: 0;
  --md-sys-typography-title-small-slnt: 0;
  --md-sys-typography-body-large-slnt: 0;
  --md-sys-typography-body-medium-slnt: 0;
  --md-sys-typography-body-small-slnt: 0;
  --md-sys-typography-label-large-slnt: 0;
  --md-sys-typography-label-medium-slnt: 0;
  --md-sys-typography-label-small-slnt: 0;
  --md-sys-typography-display-large-fill: 0;
  --md-sys-typography-display-medium-fill: 0;
  --md-sys-typography-display-small-fill: 0;
  --md-sys-typography-headline-large-fill: 0;
  --md-sys-typography-headline-medium-fill: 0;
  --md-sys-typography-headline-small-fill: 0;
  --md-sys-typography-title-large-fill: 0;
  --md-sys-typography-title-medium-fill: 0;
  --md-sys-typography-title-small-fill: 0;
  --md-sys-typography-body-large-fill: 0;
  --md-sys-typography-body-medium-fill: 0;
  --md-sys-typography-body-small-fill: 0;
  --md-sys-typography-label-large-fill: 0;
  --md-sys-typography-label-medium-fill: 0;
  --md-sys-typography-label-small-fill: 0;
  --md-sys-typography-display-large-hexp: 0;
  --md-sys-typography-display-medium-hexp: 0;
  --md-sys-typography-display-small-hexp: 0;
  --md-sys-typography-headline-large-hexp: 0;
  --md-sys-typography-headline-medium-hexp: 0;
  --md-sys-typography-headline-small-hexp: 0;
  --md-sys-typography-title-large-hexp: 0;
  --md-sys-typography-title-medium-hexp: 0;
  --md-sys-typography-title-small-hexp: 0;
  --md-sys-typography-body-large-hexp: 0;
  --md-sys-typography-body-medium-hexp: 0;
  --md-sys-typography-body-small-hexp: 0;
  --md-sys-typography-label-large-hexp: 0;
  --md-sys-typography-label-medium-hexp: 0;
  --md-sys-typography-label-small-hexp: 0;
  --md-sys-color-primary: rgb(101 85 143);
  --md-sys-color-surface-tint: rgb(103 80 164);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(234 221 255);
  --md-sys-color-on-primary-container: rgb(79 55 139);
  --md-sys-color-secondary: rgb(98 91 113);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(232 222 248);
  --md-sys-color-on-secondary-container: rgb(74 68 88);
  --md-sys-color-tertiary: rgb(125 82 96);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 216 228);
  --md-sys-color-on-tertiary-container: rgb(99 59 72);
  --md-sys-color-error: rgb(179 38 30);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(249 222 220);
  --md-sys-color-on-error-container: rgb(140 29 24);
  --md-sys-color-background: rgb(254 247 255);
  --md-sys-color-on-background: rgb(29 27 32);
  --md-sys-color-surface: rgb(254 247 255);
  --md-sys-color-on-surface: rgb(29 27 32);
  --md-sys-color-surface-variant: rgb(231 224 236);
  --md-sys-color-on-surface-variant: rgb(73 69 79);
  --md-sys-color-outline: rgb(121 116 126);
  --md-sys-color-outline-variant: rgb(202 196 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 53);
  --md-sys-color-inverse-on-surface: rgb(245 239 247);
  --md-sys-color-inverse-primary: rgb(208 188 255);
  --md-sys-color-primary-fixed: rgb(234 221 255);
  --md-sys-color-on-primary-fixed: rgb(33 0 93);
  --md-sys-color-primary-fixed-dim: rgb(208 188 255);
  --md-sys-color-on-primary-fixed-variant: rgb(79 55 139);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(29 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(204 194 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 68 88);
  --md-sys-color-tertiary-fixed: rgb(255 216 228);
  --md-sys-color-on-tertiary-fixed: rgb(49 17 29);
  --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 72);
  --md-sys-color-surface-dim: rgb(222 216 225);
  --md-sys-color-surface-bright: rgb(254 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 242 250);
  --md-sys-color-surface-container: rgb(243 237 247);
  --md-sys-color-surface-container-high: rgb(236 230 240);
  --md-sys-color-surface-container-highest: rgb(230 224 233);
}
