:root {
  font-family: 'Google Sans', 'Roboto', 'Noto Sans', system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5lh;
  margin-bottom: 0.5lh;
}

p {
  margin-top: 2em;
  margin-bottom: 2em;
}
